$coloring: #FF4F79, #161032, #C6CA53, #0E79B2, #F39237, #5FB49C, #5A1807, #161032;
$book: #414288, #FFAE03, #EA526F, #df2935;

@keyframes colorIn {
    0% {
        width: 100%;
    }
    100% {
        width: 0px;
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;

    .overlap {
        background-color: #F7E7CE;
        position: absolute;
        z-index: 1;
        animation: colorIn;
        animation-duration: 0.5s;
        animation-fill-mode: both;
        animation-timing-function: cubic-bezier(0,.48,1,.51);
        animation-iteration-count: 1;
        height: 100vh;
    }

    .header {
        font-family: Corben;
        font-size: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    
        @for $i from 1 through length($coloring) {
            @if $i == 8 {
                span:nth-child(#{$i}) {
                    color: nth($coloring, $i);
                    margin-right: 24px;
                }
            }
            @else {
                span:nth-child(#{$i}) {
                    color: nth($coloring, $i);
                }     
            }
        }
    
        @for $i from 1 through length($book) {
            span:nth-child(#{$i + 8}) {
                color: nth($book, $i)
            }
        }
    
        div {
            display: flex;
            flex-wrap: nowrap;
        }
    }
}
