@use "../../styles/variables" as var;


$borderStyle: 1px solid #000000;

%positioning {
    position: absolute;
}

%background {
    background-color: var.$bg;
}

.colorContainer {
    width: 400px;
    height: 100vh;
    z-index: 2;
    background-color: #878897;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.allContainer {
    display: flex;
}

.circleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    width: calc(100% - 400px);
}

.circle {
    top: 10%;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: $borderStyle;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-items: center;
    flex-shrink: 0;
    overflow: auto;
    @extend %positioning;
    @extend %background;

    .sandBottom {
        border: $borderStyle;
        z-index: 1;
        @extend %positioning;
        @extend %background;
        width: 70%;
        height: 20%;
        bottom: -10px;
        left: 20px;
        border-radius: 0% 100% 0% 0% / 52% 100% 0% 0%;
        z-index: 4;
    }

    .sandTop {
        border: $borderStyle;
        @extend %positioning;
        @extend %background;
        width: 100%;
        height: 25%;
        border-radius: 63% 100% 0% 0% / 40% 67% 0% 0%;
        z-index: 3;
    }

    .sea {
        border-top: $borderStyle;
        width: 100%;
        height: 40%;
        @extend %positioning;
        @extend %background;
        z-index: 2;

    }

    .sun {
        width: 150px;
        height: 150px;
        border: $borderStyle;
        border-radius: 50%;
        z-index: 1;
        @extend %positioning;
        @extend %background;
        bottom: 35%;
    }
}

.buttons {
    font-weight: 400;
    width: 300px;
    margin-top: 30px;
    border-width: 2px;
    border-style: solid;
    padding: 10px 0 10px 0;
    font-size: 16px;
    border-radius: 20px;
    font-family: Poppins;
    background-color: transparent;
    color: #F7E7CE;
    border-color: #F7E7CE;

    &:hover {
        cursor: pointer;
    }
}

.cloudContainer {
    position: relative;
    overflow: hidden;

    .clouds {
        position: relative;
        display: flex;
        flex-shrink: 0;
    
        .cloudHelper {
            height: 33px;
            width: 75px;
            top: 8px;
            left: 20px;
            @extend %positioning;
            @extend %background;
    
        }
    
        @for $i from 2 through 4 {
            div:nth-child(#{$i}) {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: $borderStyle;
                @extend %background;
                overflow: hidden;
                @if $i != 2 {
                    margin-left: -15px;
                }
            }
        }
    }
}
