@use "../../styles/variables" as var;

$degrees: -0deg, 45deg, 90deg, -45deg, -45deg, 90deg, 45deg, 0;

@mixin petals($rot, $name, $i) {
    .petals#{$name} {
        @extend %petalsGroup;

        div:nth-child(#{$i}) {
            @extend %singlePetal;
            transform: rotate($rot);
        }
    }
}

@for $i from 1 through 8 {
    @if $i <= 3 {
        @include petals(
            nth($degrees, $i),
            "Top",
            $i
        );
    }
    @else if $i > 3 and $i <= 5 {
        @include petals(
            nth($degrees, $i),
            "Mid",
            $i - 3
        );
    }
    @else {
        @include petals(
            nth($degrees, $i),
            "Bottom",
            $i - 5
        );
    }
}

%petalsGroup {
    display: flex;
    justify-content: center;
    align-items: center;
}

%singlePetal {
    border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%;
    border: 1px solid #000000;
    width: 140px;
    height: 140px;
    flex-shrink: 0;
    position: relative;
    background-color: var.$bg;
}

.buttons {
    font-weight: 400;
    width: 300px;
    margin-top: 16px;
    border-width: 1px;
    border-style: solid;
    padding: 8px;
    font-size: 14px;
    border-radius: 20px;
    font-family: Poppins;
    background-color: transparent;
    color: #F7E7CE;
    border-color: #F7E7CE;
    height: 40px;

    &:hover {
        color: #878897;
        background-color: #F7E7CE;
        cursor: pointer;
    }
}

.colorContainer {
    width: 400px;
    height: 100vh;
    z-index: 2;
    background-color: #878897;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.allContainer {
    display: flex;
}

.flowerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 500px);
    position: relative;
}

.flower {
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
}

.circle {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    border: 1px solid #000000;
    background-color: #F7E7CE;
    position: absolute;
    z-index: 1;
    background-color: var.$bg;
}

