.git {
    font-family: Poppins;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 5px;
    color: #0A0A0A;

    a {
        text-decoration: none;
    }
}